.checkbox-wrapper {
	border-radius: 4px;
	border: 0.1px solid rgb(118, 118, 118);
	width: 100%;
	height: 3rem;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	padding: 1rem;
	justify-content: space-between;
}

.checkbox-wrapper .MuiOutlinedInput-notchedOutline {
	border: none;
}

.form-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
}
